.background {
	background-color: #d6ffda;
}
.header-item {
	background-color: #66a0ff;
}
.navbar {
	background-color: #dbf8fc;
}
.navbar-item:hover {
	background-color: white;
}
.text-div {
	background-color: white;
}
.text-title {
	color: #66a0ff;
}